<div class="container">
  <div class="row my-3">
    <div class="col">
      <h1><%= @survey.title %></h1>
      <p>Share my survey: <%= survey_link(@survey) %></p>
      <%= link_to 'See Results', results_survey_path(@survey), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @survey.questions.each do |question| %>
        <%= render question %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <h3>Add a new question</h3>
      <%= simple_form_for [@survey, @question] do |f| %>
        <%= f.input :title, required: true %>
        <%= f.submit 'Add', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
